---
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'JPEG XL Test Page – JPEG XL';
const description = 'Try if your browser supports JPEG XL images.';
---

<BaseLayout title={title} description={description} canonical="https://jpegxl.info/resources/jpeg-xl-test-page.html">
  <Fragment slot="head">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://jpegxl.info/resources/jpeg-xl-test-page.html" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://jpegxl.info/images/OG_Image-JPEG_XL-neon-tunnel-glow.webp" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@JpegXl" />
    <meta property="twitter:url" content="https://jpegxl.info/resources/jpeg-xl-test-page.html" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://jpegxl.info/images/OG_Image-JPEG_XL-neon-tunnel-glow.webp" />
    <style is:inline>
      /* Only show warning text in Safari */
          .safari-text {
            display: none; /* Hide by default */
          }
        
          @supports (-webkit-touch-callout: none) {
            .safari-text {
              display: block !important;
            }
          }
    </style>
  </Fragment>

<section id="main-content" class="section-hero hero-fullspan-graphic gradient-bottom">
      <div class="container-content-vflex width-page-max centered">
        <div class="wrapper-text color-gradient _40em">
          <h1 class="display-xl-bold fill-gradient">JPEG&nbsp;XL Test Page</h1>
        </div>
        <div class="wrapper-text width-small">
          <h2 class="text-l-medium large">Test your browser against common JPEG&nbsp;XL image types.</h2>
        </div>
      </div>
      <div class="container-wave-animated">
        <div class="wrapper-content-wave centered align-middle height-cropped-width-full"><img src="/images/Ripple-Line2x-50.0s-2560px-371px.svg" loading="lazy" alt="" class="image-wave-2560"><img src="/images/Ripple-Line2x-50.0s-1440px-300px.svg" loading="lazy" alt="" class="image-wave-1440"></div>
      </div>
    </section>
    <div class="section-content-wrapper padding-2rem">
      <div class="section-test_page-size_comparison height-100 centered padding-top_bottom">
        <main class="container-content-vflex width-page-max centered">
          <div class="wrapper-text centered">
            <h2 class="text-xl-regular color-teal">Size Comparison</h2>
            <h3 class="text-small-regular centered">(2x "Retina" Image)</h3>
          </div>
          <div class="spacer-4rem"></div>
          <div class="container-2col gap-4rem">
            <div id="w-node-_13718cdf-5734-dcd8-62d2-77afe61af8db-5232f2b6" class="wrapper-content">
              <div class="wrapper-image centered radius-small">
                <picture>
                <source srcset="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.jxl" type="image/jxl">
                <img src="/images/zoltan-tasi-CLJeQCr2F_A-unsplash-NoJXL.png" loading="lazy" alt="JPEG XL of the inside of an old watch shot on Fuji X-T1" class="image-example-comparison">
                </picture>
              </div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.jxl" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG&nbsp;XL</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 359.1 KB<br>SSIMU2: 80.6</p>
                </div>
              </div>
            </div>
            <div id="w-node-_7153541d-359b-6a28-1f7d-33acf72de480-5232f2b6" class="wrapper-content">
              <div class="wrapper-image centered radius-small"><img src="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.webp" loading="lazy" alt="WebP of the inside of an old watch shot on Fuji X-T1" class="image-example-comparison"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.webp" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">WEBP</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 435.2 KB<br>SSIMU2: 80.9</p>
                </div>
              </div>
            </div>
            <div id="w-node-_72442149-4009-f7c1-ba25-5a55212e9208-5232f2b6" class="wrapper-content">
              <div class="wrapper-image centered radius-small"><img src="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.jpg" loading="lazy" alt="JPEG of the inside of an old watch shot on Fuji X-T1" class="image-example-comparison"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.jpg" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 537.6 KB<br>SSIMU2: 80.3</p>
                </div>
              </div>
            </div>
            <div id="w-node-a901ddc4-6590-c4b8-0adc-28f1774f409b-5232f2b6" class="wrapper-content">
              <div class="wrapper-image centered radius-small"><img src="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.png" loading="lazy" alt="PNG of the inside of an old watch shot on Fuji X-T1" class="image-example-comparison"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/zoltan-tasi-CLJeQCr2F_A-unsplash.png" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">PNG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 2,227.5 KB<br>SSIMU2: 100</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="section-test_page-alpha_transparency height-100 centered padding-top_bottom">
        <main class="container-content-vflex width-page-max centered">
          <div class="wrapper-text width-hug">
            <h2 class="text-xl-regular color-teal">Alpha Transparency</h2>
          </div>
          <div class="spacer-4rem"></div>
          <div class="container-3col">
            <div id="w-node-_2f620488-f624-9697-802e-b7a8ba339907-5232f2b6" class="wrapper-content">
              <div class="wrapper-image-example-transparency">
                <picture>
                  <source srcset="/images/dice.jxl" type="image/jxl">
                  <img src="/images/dice-NoJXL.png" loading="lazy" alt="JPEG XL of semitransparent dice" class="image-example-transparency">
                </picture>
              </div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/dice.jxl" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG&nbsp;XL</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 46 KB<br>SSIMU2: 89.35</p>
                </div>
              </div>
            </div>
            <div id="w-node-_2f620488-f624-9697-802e-b7a8ba339914-5232f2b6" class="wrapper-content">
              <div class="wrapper-image-example-transparency"><img src="/images/dice.webp" loading="lazy" alt="WebP of semitransparent dice" class="image-example-transparency"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/dice.webp" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">WEBP</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 65 KB<br>SSIMU2: 80.23</p>
                </div>
              </div>
            </div>
            <div id="w-node-_2f620488-f624-9697-802e-b7a8ba339922-5232f2b6" class="wrapper-content">
              <div class="wrapper-image-example-transparency"><img src="/images/dice.png" loading="lazy" alt="PNG of semitransparent dice" class="image-example-transparency"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/dice.png" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">PNG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <p class="text-small-regular centered">Size: 227 KB<br>SSIMU2: 100</p>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="section-test_page-wide_gamut height-100 centered padding-top_bottom">
        <main class="container-content-vflex width-page-max centered">
          <div class="wrapper-text centered">
            <h2 class="text-xl-regular color-teal">Wide Gamut</h2>
            <h3 class="text-small-regular centered">A faint Webkit logo can be seen when viewed on a P3 display</h3>
          </div>
          <div class="spacer-4rem"></div>
          <div class="container-4col gap-4rem">
            <div id="w-node-b0a22072-bd6d-afa0-b751-25069eaa34a8-5232f2b6" class="wrapper-content">
              <div class="wrapper-image">
                <picture>
                  <source srcset="/images/Webkit-logo-P3.jxl" type="image/jxl">
                  <img src="/images/Webkit-logo-P3-NoJXL.png" loading="lazy" alt="P3 JPEG XL Wide Gamut Sample Image" class="image-example-wide_gamut">
                </picture>
                </div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/Webkit-logo-P3.jxl" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG&nbsp;XL</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 10 KB<br>Bit Depth: 16-bit<br>SSIMU2: 100</h2>
                </div>
              </div>
            </div>
            <div id="w-node-b0a22072-bd6d-afa0-b751-25069eaa34b5-5232f2b6" class="wrapper-content">
              <div class="wrapper-image"><img src="/images/Webkit-logo-P3.webp" loading="lazy" alt="P3 WebP Wide Gamut Sample Image" class="image-example-wide_gamut"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/Webkit-logo-P3.webp" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">WEBP</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 11 KB<br>Bit Depth: 8-bit<br>SSIMU2: 100</h2>
                </div>
              </div>
            </div>
            <div id="w-node-b0a22072-bd6d-afa0-b751-25069eaa34c3-5232f2b6" class="wrapper-content">
              <div class="wrapper-image"><img src="/images/Webkit-logo-P3.jpg" loading="lazy" alt="P3 JPEG Wide Gamut Sample Image" class="image-example-wide_gamut"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/Webkit-logo-P3.jpg" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 20 KB<br>Bit Depth: 8-bit<br>SSIMU2: 84.66</h2>
                </div>
              </div>
            </div>
            <div id="w-node-b0a22072-bd6d-afa0-b751-25069eaa34d1-5232f2b6" class="wrapper-content">
              <div class="wrapper-image"><img src="/images/Webkit-logo-P3.png" loading="lazy" alt="P3 PNG Wide Gamut Sample Image" class="image-example-wide_gamut"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/Webkit-logo-P3.png" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">PNG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 48 KB<br>Bit Depth: 16-bit<br>SSIMU2: 100</h2>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <div class="section-test_page-animations height-100 centered padding-top_bottom">
        <main class="container-content-vflex width-page-max centered">
          <div class="wrapper-text centered">
            <h2 class="text-xl-regular color-teal">Animations</h2>
            <h3 class="text-small-regular centered safari-text">(Note: Safari supports JXL, but animations are unsupported)</h3>
          </div>
          <div class="spacer-4rem"></div>
          <div class="container-4col gap-4rem">
            <div id="w-node-_36bf657a-8716-9d92-3158-a00a6b85bc3c-5232f2b6" class="container-content-vflex centered">
              <div class="wrapper-image-example-transparency">
                <picture>
                  <source srcset="/images/anim-icos.jxl" type="image/jxl">
                  <img src="/images/anim-icos-NoJXL.png" loading="lazy" alt="JXL Animation Example" class="image-example-animated">
                </picture>
              </div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/anim-icos.jxl" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">JPEG&nbsp;XL</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 341 KB</h2>
                </div>
              </div>
            </div>
            <div id="w-node-_36bf657a-8716-9d92-3158-a00a6b85bc4b-5232f2b6" class="container-content-vflex centered">
              <div class="wrapper-image-example-transparency"><img src="/images/anim-icos.webp" loading="lazy" alt="WebP Animation Example" class="image-example-animated"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/anim-icos.webp" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">WEBP</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 391 KB<br></h2>
                </div>
              </div>
            </div>
            <div id="w-node-_36bf657a-8716-9d92-3158-a00a6b85bc5b-5232f2b6" class="container-content-vflex centered">
              <div class="wrapper-image-example-transparency"><img src="/images/anim-icos.apng.png" loading="lazy" alt="PNG Animation Example" class="image-example-animated"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/anim-icos.apng.png" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">APNG</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 991 KB</h2>
                </div>
              </div>
            </div>
            <div id="w-node-_36bf657a-8716-9d92-3158-a00a6b85bc6c-5232f2b6" class="container-content-vflex centered">
              <div class="wrapper-image-example-transparency"><img src="/images/anim-icos.gif" loading="lazy" alt="GIF Animation Example" class="image-example-animated"></div>
              <div class="wrapper-content width-hug centered">
                <div class="spacer-2rem"></div>
                <a href="/images/anim-icos.gif" download="" class="div-container-rounded_text_box">
                  <h3 class="label-menu-text">GIF</h3></a>
                <div class="spacer-1rem"></div>
                <div class="wrapper-text width-100pct">
                  <h2 class="text-small-regular centered">Size: 384 KB</h2>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>

<script is:inline>
if (navigator.userAgent.includes("Safari") && !navigator.userAgent.includes("Chrome")) {
      document.querySelectorAll(".safari-text").forEach(el => el.style.display = "block");
    }
</script>
</BaseLayout>
